html {
    text-align: center;
}

.header {
    height: 30vh;
    width: 100%;
    margin-bottom: 5vh;
    background-image: url(/assets/felix-mittermeier-L4-16dmZ-1c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.nav {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.anchor {
    background-color: blue;
    width: 5%;
    padding: 10px;
    border: solid black 2px;
    margin: 20px;
    box-shadow: 1px 2px;
}

.anchor:hover {
    box-shadow: none;
}

.anchor a {
    color: white;
    text-decoration: none;
}

.article {
    border: solid black 5px;
    margin: 2%;
    width: 20%;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-container {
    padding: 2%;
    margin-bottom: 2%;
    border: groove green 10px;
    width: 50%;
    box-shadow: 15px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.invis {
    display: none;
}